.educationSection {
    background-color: #1a1a1a;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: 'Arial', sans-serif;
}

.educationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    gap: 3rem;
}

.educationDetails {
    flex: 1;
    max-width: 600px;
    padding: 1rem;
    margin-left: -3rem;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: rgb(240, 165, 0);
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.educationItem {
    background-color: #4a3636;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
}

.educationItem:hover {
    background-color: rgb(160, 110, 0);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.iconContainer {
    background-color: rgb(240, 165, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.icon {
    color: white;
    font-size: 1.2rem;
}

.details {
    flex-grow: 1;
}

.years {
    color: rgb(240, 165, 0);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.degree {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.institution {
    font-size: 1.1rem;
    color: #cccccc;
}

.illustration {
    max-width: 250px;
    align-self: flex-start;
    margin-left: 2rem;
    margin: 1rem 0;
}

.illustration img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.educationItemButton {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1024px) {
    .title {
        font-size: 2.5rem;
    }

    .educationContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .educationItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .iconContainer {
        margin-bottom: 0.5rem;
    }

    .illustration {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .educationContainer {
        gap: 1.5rem;
        margin-left: 2rem;
    }

    .educationDetails {
        margin-left: -2rem;
    }

}

@media (max-width: 480px) {
    .educationDetails {
        max-width: 100%;
        padding: 0.5rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .years,
    .degree,
    .institution {
        font-size: 1rem;
    }

    .illustration {
        max-width: 150px;
        margin: 0 auto 1rem;
    }
}

@media (min-width:320px) {
    .illustration {
        margin-left: 0.5rem;
        margin-top: -5rem;
        margin-bottom: -4rem;
        max-width: 250px;
    }

}

@media (min-width: 1024px) {
    .illustration {
        max-width: 500px;
        margin-top: 2rem;
        margin-left: 7rem;
    }
}