html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
  padding: 20px;
  flex-direction: row;
}

.leftSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
  object-fit: contain;
  margin-left: 10rem;
}

.rightSection {
  flex: 2;
  padding-left: 12rem;
  padding-right: 8rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(240, 165, 0);
  margin-bottom: 1.5rem;
  text-align: right; 
}

.experienceList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experienceItem {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #4a3636;
  padding: 1.5rem;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.experienceItem:hover {
  background-color: rgb(160, 110, 0);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.icon {
  width: 2rem;
  margin-right: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: left; 
}

.year {
  color: rgb(240, 165, 0);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.role {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.company {
  font-size: 1.1rem;
  color: #cccccc;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .leftSection, .rightSection {
    width: 100%;
  }
  .title {
    font-size: 2.5rem;
    text-align: center; 
  }
  .experienceItem {
    width: 100%;
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .experienceList {
    gap: 1rem;
  }
  .image {
    max-width: 200px; 
    margin-left: 4rem;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .leftSection {
    order: 2;
  }
  .rightSection {
    padding: 0;
    order: 1;
    text-align: center; 
  }
  .title {
    font-size: 1.8rem;
  }
  .experienceItem {
    padding: 1rem;
  }
  .role {
    font-size: 1rem;
  }
}
